@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@200;300;400&display=swap');

:root {
    --heading: 'Lora', serif;
    --paragraphy: 'Poppins', sans-serif;
    --mainblue: #2d4263;
    --fontColor: #2B4061;
    --navColor: #000727;
    --white: #fff;
}

* {
    margin: auto;
}

html {
    font-size: 20px;
    font-family: var(--paragraphy);
    color: var(--fontColor);
}

h1, h2 {
    font-family: var(--heading);
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

nav {
    font-size: 18px;
}

nav a {
    color: var(--navColor);
}

nav ul {
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

a:hover {
    color: #fff;
    text-decoration: underline overline #fff;
    transition: 0.5s ease-in-out;
}

.sm_center a {
    color: #fff;
}

.sm_center a:hover {
    color: #78a4e1;
}

ion-icon {
    margin: 10px;
}

section {
    margin: auto;
}

.is-flex {
    display: flex;
}

.is-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

/* btn */
.is-btn {
    color: #fff;
    border-color: var(--white);
    font-family: var(--heading);
    font-size: 33px;
    background-color: var(--mainblue);
    padding: 10px 40px;
    text-align: center;
}

.center_btn {
    margin: auto;
    text-align: center;
}

/* section h2 */
.sec_h2 {
    text-align: center;
    font-size: 45px;
    color: var(--white);
    font-weight: 800;
    margin: 55px;
    padding-bottom: 68px;
}

.is-blue {
    color: var(--mainblue);
}

/* section h3 */
.sec_h3 {
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--mainblue);
    margin-bottom: 20px;
}