@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@200;300;400&display=swap');

:root {
    --heading: 'Lora', serif;
    --paragraphy: 'Poppins', sans-serif;
    --mainblue: #2d4263;
    --fontColor: #2B4061;
    --navColor: #000727;
    --white: #fff;
}

* {
    margin: auto;
}

html {
    font-size: 20px;
    font-family: var(--paragraphy);
    color: var(--fontColor);
}

h1, h2 {
    font-family: var(--heading);
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

nav {
    font-size: 18px;
}

nav a {
    color: var(--navColor);
}

nav ul {
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

a:hover {
    color: #fff;
    text-decoration: underline overline #fff;
    transition: 0.5s ease-in-out;
}

.sm_center a {
    color: #fff;
}

.sm_center a:hover {
    color: #78a4e1;
}

ion-icon {
    margin: 10px;
}

section {
    margin: auto;
}

.is-flex {
    display: flex;
}

.is-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

/* btn */
.is-btn {
    color: #fff;
    border-color: var(--white);
    font-family: var(--heading);
    font-size: 33px;
    background-color: var(--mainblue);
    padding: 10px 40px;
    text-align: center;
}

.center_btn {
    margin: auto;
    text-align: center;
}

/* section h2 */
.sec_h2 {
    text-align: center;
    font-size: 45px;
    color: var(--white);
    font-weight: 800;
    margin: 55px;
    padding-bottom: 68px;
}

.is-blue {
    color: var(--mainblue);
}

/* section h3 */
.sec_h3 {
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--mainblue);
    margin-bottom: 20px;
}

/* =========== header =========== */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    /* background-color: #7589aa; */
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  0.3s;
    background-color: #7589aa;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
    margin: 44px 0;
}

.nav-menu.active {
    left: 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--navColor);
}


/* bg wrapper */
.bg-wrapper {
    background-image: url(../images/hero_bnr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1500px;
}

/* =========== hero section =========== */
.hero_section {
    text-align: center;
}

/* hero log */
.hero_logo img {
    width: 60vmin;
    text-align: center;
}

/* hero content */
.hero_content {
    width: 550px;
    margin: auto;
}

.hero_content h2 {
    font-size: 28px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 500;
    text-shadow: 5px 3px 8px #5f6875;
}

/* =========== opening hour section =========== */
.sec_blue_bg {
    max-width: 100%;
    background-color: var(--mainblue);
    padding: 100px 0;
}

/* content */
.opening_hour {
    color: var(--white);
    grid-column: auto / span 6;
    padding-bottom: 185px;
    text-align: center;
}

.opening_hour p {
    padding-bottom: 33px;
}

/* =========== About section =========== */
.about_sec {
    background-image: url(../images/s2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1000px;
    text-align: center;
    padding-top: 150px;
}

.about_content {
    margin: auto;
    width: 350px;
    line-height: 1.4;
    color: var(--white);
}

.about_h2 {
    text-align: center;
    font-size: 45px;
    color: var(--white);
    font-weight: 800;
    margin: 45px;
}


/* =========== Menu section =========== */
.menu_sec_wrap {
    margin: auto;
    max-width: 1000px;
    /* margin: 66px 99px; */
    /* padding-inline: 5rem; */
}

.menu_sec_wrap h2 {
    margin: 33px 0;
    font-weight: 800;
}

.menu_content {
    padding-inline: 1rem;
    grid-column: auto / span 12;
    text-align: center;
    line-height: 1.5;
}

.menu_content p {
    margin: auto;
    width: 300px;
    margin-bottom: 100px;
}

/* circle images */
.circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* =========== Contact section =========== */
/* .contact_map {
    background-image: url(../images/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1500px;
    margin-bottom: 50px;
} */

#map {
    height: 600px;
    width: auto;
  }

.contacts {
    color: var(--white);
    text-align: center;
    line-height: 1.8;
    padding: 33px;
    margin-bottom: 50px;
}

.contacts h3, .contacts p {
    font-family: var(--heading);
    letter-spacing: 1px;
    font-weight: 500;
}

/* =========== footer =========== */
footer {
    padding: 33px;
    text-align: center;
    font-size: 13px;
    background-color: #2d4263;
    color: #fff;
}

.sm_center {
    justify-content: center;
}

/* .ig {
    background-image: url(../images/ig.png);
}

.fb {
    background-image: url(../images/facebook.svg);
}

.ig, .fb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-bottom: 33px;
} */


/* =========== Media Query =========== */
@media only screen and (min-width: 768px) {

    /* body {
        background-color: #5f6875;
    } */

    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        
    }

    .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 60px;
        transition: 0.3s ease-in-out;
        background: none;
    }


    .photos {
        width: 320px;
        height: 200px;
        object-fit: cover;
        grid-column: auto / span 10;
    }

    .menu_content {
        grid-column: auto / span 6;
    }

}


@media only screen and (min-width: 1080px) {
    /* body {
        background-color: #78a4e1;
    } */
    .menu_content {
        grid-column: auto / span 4;
        margin: auto;
    }

    .circle {
        width: 250px;
        height: 250px;
    }

}

