@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #D63241;
    --black: #191919;
    --galleryBlack: #050507;
    --white: #FBFBFB;
    --gray: #5F5F5F;
    --lora: 'Lora', serif;
    --nunito: 'Nunito', sans-serif;
    --regular: 400;
    --bold: 700;
}

* {
    margin: auto;
    scroll-behavior: smooth;
}

/* party size dropdown select icon */
select {
    background: url("data:image/svg+xml,<svg height='22px' width='22px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-color: var(--white);
    background-position: calc(100% - 1.2rem) center !important;
}

a {
    cursor: pointer;
    scroll-behavior: smooth;
}

/* mobile media q */
h1, .h1 {
    font-size: 28px;
    font-family: var(--lora);
    font-weight: var(--bold);
}

h2, .h2 {
    font-size: 34px;
    font-family: var(--lora);
    font-weight: var(--bold);
}

h3, .h3 {
    font-size: 24px;
    font-family: var(--nunito);
    font-weight: var(--bold); 
}

h4, .h4 {
    font-size: 24px;
    font-family: var(--lora);
    font-weight: var(--bold); 
}
/* p = body (regular) */
p, .p {
    font-size: 17px;
    font-family: var(--nunito);
    font-weight: var(--regular);
}

/* The salmon */
.stroke {
    position: relative;
    z-index: 1;
}

.stroke::before {
    content: "";
    position: absolute;
    background-image: url(../public/images/stoke.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 43%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* The slider from swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-wrapper {
    padding: 50px 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* tablet + desktop media q */
@media (min-width: 768px) {

    h1, .h1 {
        font-size: 34px;
        font-family: var(--lora);
        font-weight: var(--bold); 
    }
    
    h2, .h2 {
        font-size: 60px;
        font-family: var(--lora);
        font-weight:  var(--bold); 
    }
    
    h3, .h3 {
        font-size: 30px;
        font-family: var(--nunito);
        font-weight: var(--bold); 
    }
    
    h4, .h4 {
        font-size: 28px;
        font-family: var(--lora);
        font-weight: var(--bold); 
    }
    /* p = body (regular) */
    p, .p {
        font-size: 24px;
        font-family: var(--nunito);
        font-weight: var(--regular);
    }

    /* Salmon */
    .stroke::before {
        content: "";
        position: absolute;
        background-image: url(../public/images/stoke.svg);
        background-repeat: no-repeat;
        background-position: center;
        top: 50%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    /* Salmon hover */
    a.hover-stroke {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        transition: all 1s;
        display: block;
    }

    a.hover-stroke::before {
        content: "";
        position: absolute;
        background-image: url(../public/images/stoke.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 40%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateY(100%);
        transition: all 200ms ease-in-out;
    }

    a.hover-stroke:hover::before {
        transform:translateY(0);
    }
    
}
